/** Utility classes for common CSS properties. */

/* Flex & Grid */

.flex {
  display: flex;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.center-elements {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* Spacing */

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}
